
#maintitle{
	border-bottom: 5px solid black;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	max-width: 800px;
	padding:20px;

	font-size: 3em;
	font-family: Arial, Times New Roman;
	background: yellow;
	opacity:0.8;
	color: blue;
}
#subtitle{
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	padding: 15px;
	color:blue;
	font-size: .5em;
	font-family: Arial, Times New Roman;
	opacity:0.8;
	max-width: 800px;
}
body{
	background-image:url(images/Apple-pie.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	z-index:-1;
}
table.center{
	max-width: 800px;
	margin-left:auto;
	margin-right:auto;
}
form{
	width:800px;
	margin-left:auto;
	margin-right:auto;
	padding:30px;
}
#personaltz{
	max-width:800px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	font-family: Arial, Times New Roman;
	font-size:1.5em;
	padding: 10px;
	color: blue;
	background: white;	
	opacity:0.8;
}
#chooseLine{
	text-align: center;
	font-family: Arial, Times New Roman;

	font-size: 1.5em;
	border-bottom: 2px solid black;
	padding:10px;
	color: blue;
	background: white;
	opacity:0.8;
}
.zoneName{
	font-size: 1em;
	padding:20px;
	width:"104";
	text-align: center;
	background: yellow;
	opacity:0.8;
	border:2px solid black;
}
.imgrow{
	border:2px solid black;
	background:white;
	font-size:.5em;
}
#foot{
	text-align: center;
}
.contactus{
	text-align:left;
	font-size:1.2em;
	border-bottom:2px solid black;
	border-left:2px solid black;
	background: white;	
	opacity:0.8;
}
.row{
	border-bottom:2px solid black;
	background: white;
}
input:hover {
	border-top: 1px solid yellow;
	border-left: 1px solid yellow;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}
input:focus {
	border-top: 1px solid yellow;
	border-left: 1px solid yellow;
	border-bottom: 1px solid red;
	border-right: 1px solid red;
}
.boxBorder {
	background-color: rgba(255, 255, 255, .6);
	border:1px solid black;
	padding:4px;
	margin:4px;
}
optgroup[label] {
	color:red;
	font-style:italic;
	font-weight:bold;

}
.formset{
	font-size:1.2em;
	background: white;
}
form{
	max-width:500px;
	background: white;
	opacity:0.8;
}
.validate{
	font-size:.75em;
	color: red;
}
.map{
	text-align: left;
}
#stCh{
	position: absolute;
	right: 1cm;
	top: 1cm;
}
#textStyle{
	position: absolute;
	right: 1cm;
	top: 1.7cm;
}
@keyframes scale1{
	0%{
	transform: scale(1, 1);
	}
	100%{
	transform: scale(1.5, 1.5);
	}
}
td.zoneName:hover{
	animation-name: scale1;
	animation-duration: 1s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	z-index: 3;
}
.tooltip{
	display: inline;
	position: relative;
}
.tooltip:hover:after{
	background: yellow;
	border-radius: 5px;
	bottom: 26px;
	color: black;
	content: attr(title);
	left: 80%;
	border: 1px solid black;
	padding: 5px 15px;
	position: absolute;
	width: 175px;
	z-index: 2;
}

a{
	color:blue;
}
.inText{
	color:blue;
}
.menu{
	width:150px;
	text-align:center;
	background:yellow;
	color: blue;
	padding:8px;
	
}
td.menuCenter{
	text-align: center;
}